<div class="credits-wrapper">
  <h1 class="title">Site Credits</h1>

  <div class="content-wrapper">

    <h2 class="subHead">The Team</h2>
    <ul>
      <li><b>UI/Web Design: Justin Lyn</b><br>Responsible for creating the website design and interactions</li>
      <li><b>Web Development: Truong Cong Anh</b><br>Worked on front & backend communication ensuring the Chatbot could access backend services</li>
      <li><b>Back-End Development: Xuhao Yu</b><br>Design and created the index server and physical network setup for hosting backend servers.<br>Engineered the flow of conversational dialogue with users by using IBM Watson and the backend index server.</li>
      <li><b>Back-End Development: Ryan de Sao Jose</b><br>Created the web crawler allowing administrators to scrape websites for information to add to the indexer</li>
    </ul>
    <h3 class="TechsubHead">The Technology</h3>
    <ul class="triple">
      <li class="techLi">Angular</li>
      <li class="techLi">HTML, JavaScript, CSS</li>
      <li class="techLi">Java</li>
      <li class="techLi">Python</li>
      <li class="techLi">IBM Watson</li>
      <li class="techLi">Node.js</li>
      <li class="techLi">Apache Lucene & Tomcat</li>
      <li class="techLi">JUnit</li>
      <li class="techLi">Jacoco</li>
      <li class="techLi">MongoDB</li>
      <li class="techLi">BeautifulSoup4</li>
      <li class="techLi">Miniconda</li>
      <li class="techLi">Scrapy</li>
      <li class="techLi">Axios</li>
    </ul>
  </div>

</div>
