<div class="aboutArea">

  <div class="content">
    <h1 class="title">About</h1>

    <P>This website and Chatbot was created for our CSCC01 project.<br><br> To give us students a real-world taste of software
      development and creating a viable product for actual industry experts, our professor brought in Digital Finance Institute (DFI) and IBM who tasked us with
      creating this chatbot.<br><br>The chatbot was required to be intuitive and user friendly, and be able to communicate with users and provide relevant information back to
      them based on their query. We were free to use any technologies and libraries that we wanted, with the exceptions that we
      would create an indexer to sort our information and integrate IBM Watson somewhere in our project.<br><br>This project combines
      many of the ideas and techniques that we've learned,as well as provide us an opportunity to learn a few new things along the way. The project utilizes
      standard web development languages such as HTML, JavaScript, and CSS for the frontend. As well as Java, Python, and Node.js
      behind the scenes which run the indexer, web crawler, and communications.<br><br>This project was a collective effort
      created by our team which took roughly 2 months to create and hopefully meets and exceeds your expectations.</P>
  </div>


</div>



